<div class='container text-center'>
    <h1>レシピ一覧</h1>
    <%= paginate @recipes %>
    <% @recipes.each do |recipe|%>
    
        <div class='bg-dark text-white mt-3'>
            <div class='row'>
                <div class='col-auto '><h2><%=link_to "#{recipe.title}",recipe_path(recipe),class:"link"%></h2></div>
            </div>
            <div class='row'>
            <div class='col-md-3'>投稿者:<%= link_to "#{recipe.user.name}", user_path(recipe.user),class:"link" %></div>
            <div class='col'><%=recipe.favorites.size%>人がお気に入りに追加しました</div>
            </div>
        </div>
    <% end %>
    
</div>
