<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% @users.each do |user| %>
  <%# <%=user.name%> 
  <%= link_to "#{user.name}", "/users/#{user.id}" %>
  <%# ユーザー一覧でユーザーの名前にユーザーページをリンクした8/12 %>
  <br>
<% end %>
